In [6]:
%load_ext sql
%sql mysql://root:11Mfld11@localhost/mystic_database

In [11]:
%%sql

SHOW DATABASES;

   mysql://root:***@localhost/
 * mysql://root:***@localhost/mystic_database
8 rows affected.

[('information_schema',),
 ('mysql',),
 ('mystic_database',),
 ('mystic_schema',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [14]:
%%sql


# CREATE DATABASE mystic_database;

CREATE TABLE Team (
    id INT PRIMARY KEY,
    team_name VARCHAR(255),
    kingdom VARCHAR(255),
    n_members INT
);

CREATE TABLE GuildName (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    description VARCHAR(255),
    leader VARCHAR(255),
    members INT,
    founded_year INT
);

CREATE TABLE NPC (
    id INT PRIMARY KEY,
    npc_type VARCHAR(255),
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    location DECIMAL(9, 2)
);

CREATE TABLE Enemy (
    id INT PRIMARY KEY,
    enemy_name VARCHAR(255),
    enemy_type VARCHAR(255),
    hitpoints INT,
    warcry VARCHAR(255)
);

CREATE TABLE Vendors (
    id INT PRIMARY KEY,
    npc_type VARCHAR(255),
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    location DECIMAL(9, 2)
);

CREATE TABLE Character (
    id INT PRIMARY KEY,
    first_name VARCHAR(255),
    race VARCHAR(255),
    class VARCHAR(255),
    guild VARCHAR(255),
    last_login DATETIME
);

CREATE TABLE Event (
    id INT PRIMARY KEY,
    event_name VARCHAR(255),
    event_time INT
);

CREATE TABLE Item (
    id INT PRIMARY KEY,
    item_name VARCHAR(255),
    item_type VARCHAR(255)
);

CREATE TABLE Questions (
    id INT PRIMARY KEY,
    content TEXT,
    choice_options INT,
    emotion INT
);

   mysql://root:***@localhost/
 * mysql://root:***@localhost/mystic_database
(MySQLdb.OperationalError) (1050, "Table 'team' already exists")
[SQL: # CREATE DATABASE mystic_database;

CREATE TABLE Team (
    id INT PRIMARY KEY,
    team_name VARCHAR(255),
    kingdom VARCHAR(255),
    n_members INT
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [15]:
%%sql

SHOW TABLES;

   mysql://root:***@localhost/
 * mysql://root:***@localhost/mystic_database
5 rows affected.

[('enemy',), ('guildname',), ('npc',), ('team',), ('vendors',)]