In [3]:
%load_ext sql
%sql mysql://root:11Mfld11@/mystic_database

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Traceback (most recent call last):
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 3288, in raw_connection
    return self.pool.connect()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 1267, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 170, in _do_get
    self._dec_overflow()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 167, in _do_get
    return self._create_connection()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\create.py", line 637, in connect
    return dialect.connect(*cargs, **cparams)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\default.py", line 615, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\MySQLdb\__init__.py", line 121, in Connect
    return Connection(*args, **kwargs)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\MySQLdb\connections.py", line 193, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb.OperationalError: (1130, "Host 'LAPTOP-5SS9IIST.wireless.unimaas.local' is not allowed to connect to this MySQL server")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 3264, in connect
    return self._connection_cls(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 147, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 2426, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 3288, in raw_connection
    return self.pool.connect()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 1267, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 170, in _do_get
    self._dec_overflow()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 167, in _do_get
    return self._create_connection()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\create.py", line 637, in connect
    return dialect.connect(*cargs, **cparams)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\default.py", line 615, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\MySQLdb\__init__.py", line 121, in Connect
    return Connection(*args, **kwargs)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\MySQLdb\connections.py", line 193, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb.OperationalError) (1130, "Host 'LAPTOP-5SS9IIST.wireless.unimaas.local' is not allowed to connect to this MySQL server")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [11]:
%%sql

SHOW DATABASES;

   mysql://root:***@localhost/
 * mysql://root:***@localhost/mystic_database
8 rows affected.

[('information_schema',),
 ('mysql',),
 ('mystic_database',),
 ('mystic_schema',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [14]:
%%sql


# CREATE DATABASE mystic_database;

CREATE TABLE Team (
    id INT PRIMARY KEY,
    team_name VARCHAR(255),
    kingdom VARCHAR(255),
    n_members INT
);

CREATE TABLE GuildName (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    description VARCHAR(255),
    leader VARCHAR(255),
    members INT,
    founded_year INT
);

CREATE TABLE NPC (
    id INT PRIMARY KEY,
    npc_type VARCHAR(255),
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    location DECIMAL(9, 2)
);

CREATE TABLE Enemy (
    id INT PRIMARY KEY,
    enemy_name VARCHAR(255),
    enemy_type VARCHAR(255),
    hitpoints INT,
    warcry VARCHAR(255)
);

CREATE TABLE Vendors (
    id INT PRIMARY KEY,
    npc_type VARCHAR(255),
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    location DECIMAL(9, 2)
);


CREATE TABLE Event (
    id INT PRIMARY KEY,
    event_name VARCHAR(255),
    event_time INT
);

CREATE TABLE Item (
    id INT PRIMARY KEY,
    item_name VARCHAR(255),
    item_type VARCHAR(255)
);

CREATE TABLE Questions (
    id INT PRIMARY KEY,
    content TEXT,
    choice_options INT,
    emotion INT
);

   mysql://root:***@localhost/
 * mysql://root:***@localhost/mystic_database
(MySQLdb.OperationalError) (1050, "Table 'team' already exists")
[SQL: # CREATE DATABASE mystic_database;

CREATE TABLE Team (
    id INT PRIMARY KEY,
    team_name VARCHAR(255),
    kingdom VARCHAR(255),
    n_members INT
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
CREATE TABLE Characters (
    CharacterID INT PRIMARY KEY,
    PlayerID INT,
    Name VARCHAR(50),
    RaceID INT,
    ClassID INT,
    AttributeID INT,
    Level INT,
    CosmeticID INT,
    TeamRole VARCHAR(50),
    TeamID INT,
    KingdomID INT,
    Experience INT,
    Gold INT,

    FOREIGN KEY (PlayerID) REFERENCES Player(PlayerID),
    FOREIGN KEY (RaceID) REFERENCES Race(RaceID),
    FOREIGN KEY (CLassID) REFERENCES Classes(ClassID),
    #FOREIGN KEY (RaceID) REFERENCES Races(RaceID),
    FOREIGN KEY (AttributeID) REFERENCES Attributes(AttributeID),
    FOREIGN KEY (CosmeticID) REFERENCES Cosmetics(CosmeticID),
    FOREIGN KEY (TeamID) REFERENCES Teams(TeamID),
    FOREIGN KEY (KingdomID) REFERENCES Kingdoms(KingdomID)    
);


CREATE TABLE Players (
    PlayerID INT PRIMARY KEY,
    Username VARCHAR(20),
    Email VARCHAR(50),
    Password VARCHAR(40),
    Nationality VARCHAR(25),
    Server VARCHAR(3),
    DateOfBirth DATE,
    CreditCardNumber VARCHAR(16),
    LastLogin DATETIME
);



CREATE TABLE Teams (
    TeamID INT PRIMARY KEY,
    TeamName VARCHAR(50),
    TeamDescription TEXT,
    Rank INT,
    TeamLevel INT,
    TeamXP INT,
    TeamGold INT,
    TeamQuests INT,
    Members INT
);

CREATE TABLE Attributes (
    AttributeID INT PRIMARY KEY,
    Strength INT,
    Intelligence INT,
    Agility INT,
    MoveSpeed INT,
    AttackSpeed INT,
    CurrentHP INT,
    MaximumHP INT,
    CurrentMP INT,
    MaximumMP INT
);

CREATE TABLE Guilds (
    GuildID INT PRIMARY KEY,
    GuildName VARCHAR(50),
    GuildDescription TEXT,
    GuildType VARCHAR(20),
    GuildLeader INT,
    GuildMember INT,
    
    FOREIGN KEY (GuildLeader) REFERENCES Characters(CharacterID),
    FOREIGN KEY (GuildMember) REFERENCES Race(CharacterID)
);


CREATE TABLE Kingdom (
    KingdomID INT PRIMARY KEY,
    KingdomName VARCHAR(255),
    KingdomDescription TEXT,
    KingdomRuler INT,
    
);


CREATE TABLE Enemies (
    EnemyID INT PRIMARY KEY,
    EnemyName VARCHAR(50),
    EnemyType VARCHAR(30),
    KingdomID INT,
    Hitpoints INT,
    Warcry VARCHAR(20),
    
    FOREIGN KEY (KingdomID) REFERENCES Kingdoms(KingdomID)
);

CREATE TABLE NPCS (
    NPCID INT PRIMARY KEY,
    NPCName VARCHAR(50),
    NPCType VARCHAR(30),
    KingdomID INT,
    NPCStats VARCHAR(50),
    NPCDescription TEXT,
    
    FOREIGN KEY (KingdomID) REFERENCES Kingdoms(KingdomID)
);


CREATE TABLE Items (
    ItemID INT PRIMARY KEY,
    ItemName VARCHAR(50),
    LevelRequirement INT,
    ItemType VARCHAR(50),
    ItemDescription TEXT
);


CREATE TABLE Craftings (
    CraftingID INT PRIMARY KEY,
    ItemID INT,
    LevelRequirement INT,
    ItemType VARCHAR(50),
    CraftingDescription TEXT,
    #RequiredItems 
    CraftingCost INT,
    
    FOREIGN KEY (ItemID) REFERENCES Items(ID)
);

CREATE TABLE Quests (
    QuestID INT PRIMARY KEY,
    DifficultyLevel INT,
    QuestGiver INT,
    QuestName VARCHAR(150),
    XPReward INT,
    GoldReward INT,
    ItemRewardID INT,
    
    FOREIGN KEY (QuestGiver) REFERENCES NPCS(ID),
    FOREIGN KEY (ItemRewardID) REFERENCES Items(ID)
);


CREATE TABLE SkillTrees (
    SkillTreeID INT PRIMARY KEY,
    ClassID INT,
    CharacterID INT,
    SkillID INT,
    PickedSkills TEXT,
    
    FOREIGN KEY (CharacterID) REFERENCES Characters(CharacterID),
    FOREIGN KEY (SkillID) REFERENCES Skills(SkillID),
    FOREIGN KEY (ClassID) REFERENCES Classes(ClassID)
);


CREATE TABLE Skills (
    SkillID INT PRIMARY KEY,
    SkillName VARCHAR(50),
    SkillDescription TEXT,
    Requirements TEXT
);


CREATE TABLE Classes (
    ClassID INT PRIMARY KEY,
    ClassName VARCHAR(50),
    ClassDescription TEXT
);


CREATE TABLE Weapons (
    WeaponID INT PRIMARY KEY,
    WeaponName VARCHAR(50),
    WeaponDescription TEXT,
    Rarity VARCHAR(20),
    Price INT,
    ClassID INT,
    Level Requirements INT,
    
    FOREIGN KEY (ClassID) REFERENCES Classes(ClassID)
);


CREATE TABLE Trade (
    TradeID INT PRIMARY KEY,
    SellerID INT,
    BuyerID INT,
    ItemID INT,
    Price INT,
    Offered Datetime,
    Accepted Datetime,
    
    FOREIGN KEY (SellerID) REFERENCES Players(PlayerID),
    FOREIGN KEY (BuyerID) REFERENCES Players(PlayerID)
);


CREATE TABLE Cosmetics (
    CosmeticID INT PRIMARY KEY,
    Outfit VARCHAR(50),
    WeaponSkin VARCHAR(50),
    Emotes VARCHAR(50),
    Taunt VARCHAR(50),
    Mount VARCHAR(50)
);


CREATE TABLE Combats (
    CombatID INT PRIMARY KEY,
    Attacker VARCHAR(50), 
    Defender VARCHAR(50), 
    Outcome VARCHAR(10),
    Timestamp DATETIME
);


CREATE TABLE Abilities (
    AbilityID INT PRIMARY KEY,
    AbilityName VARCHAR(50),
    Description TEXT,
    ClassID INT,
    LevelRequirement INT
);


CREATE TABLE Achievements (
    AchievementID INT PRIMARY KEY,
    AchievementName VARCHAR(100),
    Description TEXT,
    Progress VARCHAR(10),
    CharacterID INT,
    
    FOREIGN KEY (CharacterID) REFERENCES Characters(CharacterID)    
);



CREATE TABLE Dialogue (
    DialogueID INT PRIMARY KEY,
    FirstPlayerID INT,
    SecondPlayerID INT,
    Text TEXT,
    Timestamp DATETIME
);


CREATE TABLE Analytics (
    DialogueID INT PRIMARY KEY,
    FirstPlayerID INT,
    SecondPlayerID INT,
    Text TEXT,
    Timestamp DATETIME
);

In [15]:
%%sql

SHOW TABLES;

   mysql://root:***@localhost/
 * mysql://root:***@localhost/mystic_database
5 rows affected.

[('enemy',), ('guildname',), ('npc',), ('team',), ('vendors',)]

In [ ]:
#some code is missing here, as it was deleted after the sql dump was created 


UPDATE item
SET rarity =
    CASE
        WHEN RAND() < 0.30 THEN 'Common'
        WHEN RAND() < 0.60 THEN 'Rare'
        WHEN RAND() < 0.90 THEN 'Mythic'
        ELSE 'Legendary'
    END;


INSERT INTO item (id, item_name, item_type, rarity)
VALUES
(185, 'Bow of the Wanderer', 'Bow', 'Common'),
(186, 'Ring of Prosperity', 'Ring', 'Rare'),
(187, 'Assasains Dagger', 'Dagger', 'Mythic'),
(188, 'Sword of the Lichking', 'Sword', 'Legendary'),
(189, 'Poor Mans Shield', 'Shield', 'Common');


INSERT INTO players (PlayerID, Username, Email, Password, Nationality, Server, DateOfBirth, CreditCardNumber, LastLogin)
VALUES
(1, 'JohnDoe', 'john.doe@example.com', 'hashed_password1', 'USA', 'US1', '1990-01-01', '1111222233334444', '2023-01-01 12:00:00'),
(2, 'JaneSmith', 'jane.smith@example.com', 'hashed_password2', 'Canada', 'CA1', '1992-02-02', '2222333344445555', '2023-02-02 12:00:00'),
(3, 'JimBeam', 'jim.beam@example.com', 'hashed_password3', 'UK', 'UK1', '1994-03-03', '3333444455556666', '2023-03-03 12:00:00'),
(4, 'SaraConnor', 'sara.connor@example.com', 'hashed_password4', 'USA', 'US2', '1985-04-04', '4444555566667777', '2023-04-04 12:00:00'),
(5, 'TomCruise', 'tom.cruise@example.com', 'hashed_password5', 'Canada', 'CA2', '1962-07-03', '5555666677778888', '2023-05-05 12:00:00'),
(6, 'EllenPage', 'ellen.page@example.com', 'hashed_password6', 'UK', 'UK2', '1987-02-21', '6666777788889999', '2023-06-06 12:00:00'),
(7, 'ChrisEvans', 'chris.evans@example.com', 'hashed_password7', 'USA', 'US3', '1981-06-13', '7777888899990000', '2023-07-07 12:00:00'),
(8, 'ScarlettJ', 'scarlett.j@example.com', 'hashed_password8', 'Canada', 'CA3', '1984-11-22', '8888999900001111', '2023-08-08 12:00:00'),
(9, 'HughJackman', 'hugh.jackman@example.com', 'hashed_password9', 'UK', 'UK3', '1968-10-12', '9999000011112222', '2023-09-09 12:00:00'),
(10, 'EmmaWatson', 'emma.watson@example.com', 'hashed_password10', 'USA', 'US4', '1990-04-15', '1011121314151617', '2023-10-10 12:00:00'),
(11, 'SamWilson', 'sam.wilson@example.com', 'hashed_password11', 'USA', 'US13', '1978-09-23', '1112131415161718', '2023-09-23 12:00:00'),
(12, 'BuckyBarnes', 'bucky.barnes@example.com', 'hashed_password12', 'USA', 'US14', '1917-03-10', '1213141516171819', '2023-10-12 12:00:00'),
(13, 'PeggyCarter', 'peggy.carter@example.com', 'hashed_password13', 'UK', 'UK9', '1921-04-09', '1314151617181920', '2023-11-13 12:00:00'),
(14, 'SharonCarter', 'sharon.carter@example.com', 'hashed_password14', 'USA', 'US15', '1985-12-13', '1415161718192021', '2023-12-14 12:00:00'),
(15, 'MariaHill', 'maria.hill@example.com', 'hashed_password15', 'Canada', 'CA7', '1982-04-04', '1516171819202122', '2024-01-15 12:00:00'),
(16, 'PhilCoulson', 'phil.coulson@example.com', 'hashed_password16', 'USA', 'US16', '1964-07-08', '1617181920212223', '2024-02-16 12:00:00'),
(17, 'NickFuryJr', 'nick.furyjr@example.com', 'hashed_password17', 'USA', 'US17', '1990-05-15', '1718192021222324', '2024-03-17 12:00:00'),
(18, 'Quake', 'quake@example.com', 'hashed_password18', 'USA', 'US18', '1988-07-02', '1819202122232425', '2024-04-18 12:00:00'),
(19, 'Mack', 'mack@example.com', 'hashed_password19', 'USA', 'US19', '1975-10-17', '1920212223242526', '2024-05-19 12:00:00'),
(20, 'YoYo', 'yoyo@example.com', 'hashed_password20', 'Colombia', 'CO1', '1983-11-18', '2021222324252627', '2024-06-20 12:00:00'),
(21, 'Fitz', 'fitz@example.com', 'hashed_password21', 'UK', 'UK10', '1987-08-19', '2122232425262728', '2024-07-21 12:00:00'),
(22, 'Simmons', 'simmons@example.com', 'hashed_password22', 'UK', 'UK11', '1987-09-11', '2223242526272829', '2024-08-22 12:00:00'),
(23, 'May', 'may@example.com', 'hashed_password23', 'USA', 'US20', '1964-11-20', '2324252627282930', '2024-09-23 12:00:00'),
(24, 'Ward', 'ward@example.com', 'hashed_password24', 'USA', 'US21', '1980-12-07', '2425262728293031', '2024-10-24 12:00:00'),
(25, 'BobbyMorse', 'bobby.morse@example.com', 'hashed_password25', 'USA', 'US22', '1983-10-11', '2526272829303132', '2024-11-25 12:00:00'),
(26, 'LanceHunter', 'lance.hunter@example.com', 'hashed_password26', 'UK', 'UK12', '1974-11-21', '2627282930313233', '2024-12-26 12:00:00'),
(27, 'Lincoln', 'lincoln@example.com', 'hashed_password27', 'USA', 'US23', '1985-12-12', '2728293031323334', '2025-01-27 12:00:00'),
(28, 'Joey', 'joey@example.com', 'hashed_password28', 'USA', 'US24', '1982-01-13', '2829303132333435', '2025-02-28 12:00:00'),
(29, 'Elena', 'elena@example.com', 'hashed_password29', 'USA', 'US25', '1986-02-14', '2930313233343536', '2025-03-29 12:00:00'),
(30, 'Deke', 'deke@example.com', 'hashed_password30', 'USA', 'US26', '1992-03-15', '3031323334353637', '2025-04-30 12:00:00');
(31, 'LiamNelson', 'liam.nelson@example.com', 'hashed_password31', 'Ireland', 'IE1', '1952-06-07', '3132333435363738', '2023-09-23 12:00:00'),
(32, 'OliviaHolt', 'olivia.holt@example.com', 'hashed_password32', 'UK', 'UK13', '1997-08-05', '3233343536373839', '2023-10-12 12:00:00'),
(33, 'NoahKahn', 'noah.kahn@example.com', 'hashed_password33', 'Germany', 'DE2', '1999-01-11', '3334353637383940', '2023-11-13 12:00:00'),
(34, 'EmmaBlunt', 'emma.blunt@example.com', 'hashed_password34', 'UK', 'UK14', '1983-02-23', '3435363738394041', '2023-12-14 12:00:00'),
(35, 'LucasMoura', 'lucas.moura@example.com', 'hashed_password35', 'France', 'FR1', '1992-08-13', '3536373839404142', '2024-01-15 12:00:00'),
(36, 'SophiaLoren', 'sophia.loren@example.com', 'hashed_password36', 'Italy', 'IT1', '1934-09-20', '3637383940414243', '2024-02-16 12:00:00'),
(37, 'MasonMount', 'mason.mount@example.com', 'hashed_password37', 'UK', 'UK15', '1999-01-10', '3738394041424344', '2024-03-17 12:00:00'),
(38, 'IsabellaRossi', 'isabella.rossi@example.com', 'hashed_password38', 'Italy', 'IT2', '1990-03-15', '3839404142434445', '2024-04-18 12:00:00'),
(39, 'EthanHunt', 'ethan.hunt@example.com', 'hashed_password39', 'France', 'FR2', '1964-07-18', '3940414243444546', '2024-05-19 12:00:00'),
(40, 'AvaMartin', 'ava.martin@example.com', 'hashed_password40', 'Germany', 'DE3', '1995-05-22', '4041424344454647', '2024-06-20 12:00:00'),
(41, 'AlexanderGustaf', 'alexander.gustaf@example.com', 'hashed_password41', 'Sweden', 'SE1', '1989-01-15', '4142434445464748', '2024-07-21 12:00:00'),
(42, 'MiaKhalifa', 'mia.khalifa@example.com', 'hashed_password42', 'UK', 'UK16', '1993-02-10', '4243444546474849', '2024-08-22 12:00:00'),
(43, 'BenjaminBlues', 'benjamin.blues@example.com', 'hashed_password43', 'France', 'FR3', '1987-03-17', '4344454647484950', '2024-09-23 12:00:00'),
(44, 'GraceKelly', 'grace.kelly@example.com', 'hashed_password44', 'Monaco', 'MC1', '1929-11-12', '4445464748495051', '2024-10-24 12:00:00'),
(45, 'OscarWilde', 'oscar.wilde@example.com', 'hashed_password45', 'Ireland', 'IE2', '1854-10-16', '4546474849505152', '2024-11-25 12:00:00'),
(46, 'CharlotteRusse', 'charlotte.russe@example.com', 'hashed_password46', 'Germany', 'DE4', '1991-04-19', '4647484950515253', '2024-12-26 12:00:00'),
(47, 'VictorHugo', 'victor.hugo@example.com', 'hashed_password47', 'France', 'FR4', '1802-02-26', '4748495051525354', '2025-01-27 12:00:00'),
(48, 'EvaGreen', 'eva.green@example.com', 'hashed_password48', 'France', 'FR5', '1980-07-06', '4849505152535455', '2025-02-28 12:00:00'),
(49, 'LeonardoVinci', 'leonardo.vinci@example.com', 'hashed_password49', 'Italy', 'IT3', '1452-04-15', '4950515253545556', '2025-03-29 12:00:00'),
(50, 'GalileoGalilei', 'galileo.galilei@example.com', 'hashed_password50', 'Italy', 'IT4', '1564-02-15', '5051525354555657', '2025-04-30 12:00:00');
(51, 'TonyStark', 'tony.stark@example.com', 'hashed_password51', 'USA', 'US5', '1970-05-29', '5152535455565657', '2023-01-15 12:00:00'),
(52, 'BruceWayne', 'bruce.wayne@example.com', 'hashed_password52', 'Canada', 'CA4', '1972-02-19', '5253545556575758', '2023-02-16 12:00:00'),
(53, 'ClarkKent', 'clark.kent@example.com', 'hashed_password53', 'UK', 'UK6', '1980-03-10', '5354555657585859', '2023-03-17 12:00:00'),
(54, 'DianaPrince', 'diana.prince@example.com', 'hashed_password54', 'USA', 'US6', '1985-04-30', '5455565758595960', '2023-04-18 12:00:00'),
(55, 'LoganHowlett', 'logan.howlett@example.com', 'hashed_password55', 'Canada', 'CA5', '1975-05-01', '5556575859606061', '2023-05-19 12:00:00'),
(56, 'NatashaR', 'natasha.romanoff@example.com', 'hashed_password56', 'UK', 'UK7', '1983-06-12', '5657585960616162', '2023-06-20 12:00:00'),
(57, 'SteveRogers', 'steve.rogers@example.com', 'hashed_password57', 'USA', 'US7', '1920-07-04', '5758596061626263', '2023-07-21 12:00:00'),
(58, 'PeterParker', 'peter.parker@example.com', 'hashed_password58', 'Canada', 'CA6', '2001-08-10', '5859606162636364', '2023-08-22 12:00:00'),
(59, 'BruceBanner', 'bruce.banner@example.com', 'hashed_password59', 'UK', 'UK8', '1969-09-18', '5960616263646465', '2023-09-23 12:00:00'),
(60, 'StephenStrange', 'stephen.strange@example.com', 'hashed_password60', 'USA', 'US8', '1973-11-11', '6061626364656566', '2023-10-24 12:00:00'),
(61, 'TChalla', 'tchalla@example.com', 'hashed_password61', 'Wakanda', 'WK1', '1980-12-05', '6162636465666667', '2023-11-25 12:00:00'),
(62, 'ThorOdinson', 'thor.odinson@example.com', 'hashed_password62', 'Asgard', 'AG1', '1000-01-17', '6263646566676768', '2023-12-26 12:00:00'),
(63, 'WandaMaximoff', 'wanda.maximoff@example.com', 'hashed_password63', 'Sokovia', 'SK1', '1989-01-23', '6364656667686869', '2024-01-27 12:00:00'),
(64, 'ScottLang', 'scott.lang@example.com', 'hashed_password64', 'USA', 'US9', '1980-02-03', '6465666768696970', '2024-02-28 12:00:00'),
(65, 'HopeVanDyne', 'hope.vandyne@example.com', 'hashed_password65', 'USA', 'US10', '1984-03-24', '6566676869707071', '2024-03-29 12:00:00'),
(66, 'CarolDanvers', 'carol.danvers@example.com', 'hashed_password66', 'USA', 'US11', '1966-04-01', '6667686970717172', '2024-04-30 12:00:00'),
(67, 'ErikKillmonger', 'erik.killmonger@example.com', 'hashed_password67', 'Wakanda', 'WK2', '1982-05-09', '6768697071727273', '2024-05-31 12:00:00'),
(68, 'NickFury', 'nick.fury@example.com', 'hashed_password68', 'USA', 'US12', '1951-07-04', '6869707172737374', '2024-06-01 12:00:00'),
(69, 'Shuri', 'shuri@example.com', 'hashed_password69', 'Wakanda', 'WK3', '1995-12-05', '6970717273747475', '2024-07-02 12:00:00'),
(70, 'Loki', 'loki@example.com', 'hashed_password70', 'Asgard', 'AG2', '1000-02-22', '7071727374757576', '2024-08-03 12:00:00');

In [ ]:
-- Add a new column to 'characters' table
ALTER TABLE characters
ADD COLUMN player_id INT;

-- Add a foreign key constraint
ALTER TABLE characters
ADD FOREIGN KEY (player_id) REFERENCES players(PlayerID);



-- Step 1: Ensure each ID is used once
SET @rownum = 0;
UPDATE characters
SET player_id = (@rownum := @rownum + 1)
WHERE @rownum < 70;

-- Step 2: Distribute remaining IDs randomly
-- (You might adjust this part according to your SQL dialect as random function might be different)
UPDATE characters
SET player_id = FLOOR(RAND() * 70) + 1
WHERE player_id IS NULL;

ALTER TABLE Dialogue
ADD FOREIGN KEY (FirstPlayerID) REFERENCES players(PlayerID),
ADD FOREIGN KEY (SecondPlayerID) REFERENCES players(PlayerID);

INSERT INTO Dialogue (DialogueID, FirstPlayerID, SecondPlayerID, Text, Timestamp)
VALUES
(1, 1, 2, 'Hey, how are you?', '2023-10-10 10:00:00'),
(2, 3, 4, 'Looking for a team to join for the next quest.', '2023-10-10 10:05:00'),
(3, 5, 6, 'Did you check the new items in the shop?', '2023-10-10 10:10:00'),
(4, 7, 8, 'I found a rare item in the last dungeon!', '2023-10-10 10:15:00'),
(5, 9, 10, 'Let’s meet in the town square.', '2023-10-10 10:20:00');

CREATE TABLE Mentions (
    MentionID INT PRIMARY KEY,
    DialogueID INT,
    PlayerID INT,
    FOREIGN KEY (DialogueID) REFERENCES Dialogue(DialogueID),
    FOREIGN KEY (PlayerID) REFERENCES players(PlayerID)
);

-- Inserting a message
INSERT INTO Dialogue (DialogueID, FirstPlayerID, SecondPlayerID, Text, Timestamp)
VALUES (6, 11, 12, '@BuckyBarnes Check this out!', '2023-10-10 10:25:00');

-- Inserting a mention
INSERT INTO Mentions (MentionID, DialogueID, PlayerID)
VALUES (1, 6, 13);


CREATE TABLE Guilds (
    GuildID INT PRIMARY KEY,
    GuildName VARCHAR(50),
    GuildDescription TEXT,
    GuildType VARCHAR(20),
    GuildLeader INT,

    FOREIGN KEY (GuildLeader) REFERENCES Characters(ID)
);

CREATE TABLE GuildMembers (
    GuildID INT,
    MemberID INT,

    FOREIGN KEY (GuildID) REFERENCES Guilds(GuildID),
    FOREIGN KEY (MemberID) REFERENCES Characters(ID)
);



INSERT INTO team (id, team_name, kingdom, n_members)
VALUES
(382, 'Dragon Tamers', 'Drakonia', 150),
(383, 'Elven Archers', 'Eloria', 121),
(384, 'Mystic Drakes', 'Drakonia', 18),
(385, 'Forest Guardians', 'Eloria', 102),
(386, 'Fiery Scales', 'Drakonia', 142);

UPDATE Combats
SET turn = FLOOR(RAND() * 8) + 2;

In [ ]:
-- Add a new column to 'characters' table
ALTER TABLE characters
ADD COLUMN player_id INT;

-- Add a foreign key constraint
ALTER TABLE characters
ADD FOREIGN KEY (player_id) REFERENCES players(PlayerID);


-- Step 1: Ensure each ID is used once
SET @rownum = 0;
UPDATE characters
SET player_id = (@rownum := @rownum + 1)
WHERE @rownum < 70;

-- Step 2: Distribute remaining IDs randomly
-- (You might adjust this part according to your SQL dialect as random function might be different)
UPDATE characters
SET player_id = FLOOR(RAND() * 70) + 1
WHERE player_id IS NULL;

In [ ]:
ALTER TABLE Dialogue
ADD FOREIGN KEY (FirstPlayerID) REFERENCES players(PlayerID),
ADD FOREIGN KEY (SecondPlayerID) REFERENCES players(PlayerID);


INSERT INTO Dialogue (DialogueID, FirstPlayerID, SecondPlayerID, Text, Timestamp)
VALUES 
(1, 1, 2, 'Hey, how are you?', '2023-10-10 10:00:00'),
(2, 3, 4, 'Looking for a team to join for the next quest.', '2023-10-10 10:05:00'),
(3, 5, 6, 'Did you check the new items in the shop?', '2023-10-10 10:10:00'),
(4, 7, 8, 'I found a rare item in the last dungeon!', '2023-10-10 10:15:00'),
(5, 9, 10, 'Let’s meet in the town square.', '2023-10-10 10:20:00');



CREATE TABLE Mentions (
    MentionID INT PRIMARY KEY,
    DialogueID INT,
    PlayerID INT,
    FOREIGN KEY (DialogueID) REFERENCES Dialogue(DialogueID),
    FOREIGN KEY (PlayerID) REFERENCES players(PlayerID)
);



INSERT INTO Dialogue (DialogueID, FirstPlayerID, SecondPlayerID, Text, Timestamp)
VALUES
(7, 1, 2, '@SharonCarter Have you seen the new update?', '2023-10-11 10:30:00'),
(8, 3, 4, '@MariaHill Let’s team up for the next mission!', '2023-10-11 10:35:00'),
(9, 5, 6, 'I agree with @PhilCoulson, we should take the left path.', '2023-10-11 10:40:00'),
(10, 7, 8, 'Thanks for the advice @NickFuryJr!', '2023-10-11 10:45:00');


INSERT INTO Mentions (MentionID, DialogueID, PlayerID)
VALUES
(2, 7, 14),
(3, 8, 15),
(4, 9, 16),
(5, 10, 17);


INSERT INTO Trade (TradeID, SellerID, BuyerID, ItemID, Price, Offered, Accepted)
VALUES
(1, 1, 2, 101, 500, '2023-10-10 09:00:00', '2023-10-10 10:00:00'),
(2, 3, 4, 2, 300, '2023-10-10 09:30:00', NULL),
(3, 5, 6, 93, 700, '2023-10-10 10:00:00', '2023-10-10 11:00:00'),
(4, 7, 8, 121, 200, '2023-10-10 10:30:00', NULL),
(5, 9, 10, 155, 600, '2023-10-10 11:00:00', '2023-10-10 12:00:00'),
(6, 11, 12, 186, 800, '2023-10-10 11:30:00', NULL),
(7, 13, 14, 189, 400, '2023-10-10 12:00:00', '2023-10-10 13:00:00'),
(8, 15, 16, 59, 900, '2023-10-10 12:30:00', NULL),
(9, 17, 18, 73, 100, '2023-10-10 13:00:00', '2023-10-10 14:00:00'),
(10, 19, 20, 92, 1000, '2023-10-10 13:30:00', NULL);

In [ ]:
CREATE TABLE Kingdom (
    KingdomID INT PRIMARY KEY,
    KingdomName VARCHAR(255),
    KingdomDescription TEXT
);


ALTER TABLE characters
ADD COLUMN KingdomID INT,
ADD FOREIGN KEY (KingdomID) REFERENCES Kingdom(KingdomID);


ALTER TABLE players
MODIFY Server VARCHAR(7);


INSERT INTO Dialogue (DialogueID, FirstPlayerID, SecondPlayerID, Text, Timestamp)
VALUES
(7, 1, 2, '@SharonCarter Have you seen the new update?', '2023-10-11 10:30:00'),
(8, 3, 4, '@MariaHill Let’s team up for the next mission!', '2023-10-11 10:35:00'),
(9, 5, 6, 'I agree with @PhilCoulson, we should take the left path.', '2023-10-11 10:40:00'),
(10, 7, 8, 'Thanks for the advice @NickFuryJr!', '2023-10-11 10:45:00');


INSERT INTO Mentions (MentionID, DialogueID, PlayerID)
VALUES
(2, 7, 14),
(3, 8, 15),
(4, 9, 16),
(5, 10, 17);


ALTER TABLE characters
ADD COLUMN level INT;


UPDATE characters
SET level = FLOOR(RAND() * 50) + 1;


CREATE TABLE Trade (
    TradeID INT PRIMARY KEY,
    SellerID INT,
    BuyerID INT,
    ItemID INT,
    Price INT,
    Offered Datetime,
    Accepted Datetime,

    FOREIGN KEY (SellerID) REFERENCES Players(PlayerID),
    FOREIGN KEY (BuyerID) REFERENCES Players(PlayerID),
    FOREIGN KEY (ItemID) REFERENCES Item(id)
);

INSERT INTO Trade (TradeID, SellerID, BuyerID, ItemID, Price, Offered, Accepted)
VALUES
(1, 1, 2, 101, 500, '2023-10-10 09:00:00', '2023-10-10 10:00:00'),
(2, 3, 4, 2, 300, '2023-10-10 09:30:00', NULL),
(3, 5, 6, 93, 700, '2023-10-10 10:00:00', '2023-10-10 11:00:00'),
(4, 7, 8, 121, 200, '2023-10-10 10:30:00', NULL),
(5, 9, 10, 155, 600, '2023-10-10 11:00:00', '2023-10-10 12:00:00'),
(6, 11, 12, 186, 800, '2023-10-10 11:30:00', NULL),
(7, 13, 14, 189, 400, '2023-10-10 12:00:00', '2023-10-10 13:00:00'),
(8, 15, 16, 59, 900, '2023-10-10 12:30:00', NULL),
(9, 17, 18, 73, 100, '2023-10-10 13:00:00', '2023-10-10 14:00:00'),
(10, 19, 20, 92, 1000, '2023-10-10 13:30:00', NULL);

CREATE TABLE Kingdom (
    KingdomID INT PRIMARY KEY,
    KingdomName VARCHAR(255),
    KingdomDescription TEXT
);

ALTER TABLE characters
ADD COLUMN Kingdom INT,
ADD FOREIGN KEY (Kingdom) REFERENCES Kingdom(KingdomID);


INSERT INTO Kingdom (KingdomID, KingdomName, KingdomDescription)
VALUES
(5, 'Eloria', 'A peaceful kingdom that is rich in magical resources.'),
(6, 'Drakonia', 'A fierce kingdom known for its dragon riders and warriors.');


UPDATE characters
SET Kingdom = FLOOR(RAND() * 6) + 1;


ALTER TABLE vendors
ADD COLUMN KingdomID INT,
ADD FOREIGN KEY (KingdomID) REFERENCES Kingdom(KingdomID);


UPDATE vendors
SET KingdomID = FLOOR(RAND() * 6) + 1;


ALTER TABLE characters
ADD COLUMN gold INT DEFAULT 0,
ADD COLUMN xp INT DEFAULT 0;


UPDATE characters
SET
    gold = FLOOR(RAND() * 6001),
    xp = FLOOR(RAND() * 10001);


CREATE TABLE Combats (
    CombatID INT PRIMARY KEY,
    Attacker INT,
    Defender INT,
    Outcome VARCHAR(255),
    Timestamp DATETIME,

    FOREIGN KEY (Attacker) REFERENCES characters(id),
    FOREIGN KEY (Defender) REFERENCES characters(id)
);

INSERT INTO characters (id, first_name, last_name, race, class, guild, last_login, player_id, level, kingdom, gold, xp)
VALUES
(1, 'Aerith', 'Windrunner', 'Elf', 'Mage', 'Mystic Shadows', '2023-10-10 14:00:00', 51, 10, 1, 1200, 8500),
(4, 'Baelor', 'Ironheart', 'Dwarf', 'Warrior', 'Iron Defenders', '2023-10-10 15:00:00', 52, 15, 2, 3000, 4000),
(6, 'Caelum', 'Stormbringer', 'Human', 'Healer', 'Heavenly Lights', '2023-10-10 16:00:00', 53, 20, 3, 4500, 7500),
(8, 'Daenerys', 'Flameborn', 'Elf', 'Summoner', 'Fire Keepers', '2023-10-10 17:00:00', 54, 25, 4, 2000, 6500),
(9, 'Eldor', 'Lightweaver', 'Human', 'Mage', 'Luminous Order', '2023-10-10 18:00:00', 55, 30, 1, 3500, 7000),
(11, 'Faelar', 'Leafwhisper', 'Elf', 'Archer', 'Forest Guardians', '2023-10-10 19:00:00', 56, 35, 2, 5000, 3000),
(12, 'Gael', 'Darkblade', 'Human', 'Rogue', 'Shadow Walkers', '2023-10-10 20:00:00', 57, 40, 3, 6000, 2000);




INSERT INTO Combats (CombatID, Attacker, Defender, Outcome, Timestamp)
VALUES
(1, 1, 2, 'Attacker wins!', '2023-10-11 10:00:00'),
(2, 3, 4, 'Defender wins!', '2023-10-11 10:05:00'),
(3, 5, 6, 'Attacker wins!', '2023-10-11 10:10:00'),
(4, 7, 8, 'Defender wins!', '2023-10-11 10:15:00'),
(5, 9, 10, 'Attacker wins!', '2023-10-11 10:20:00'),
(6, 11, 12, 'Defender wins!', '2023-10-11 10:25:00'),
(7, 13, 2, 'Attacker wins!', '2023-10-11 10:30:00'),
(8, 19, 16, 'Defender wins!', '2023-10-11 10:35:00'),
(9, 25, 31, 'Attacker wins!', '2023-10-11 10:40:00'),
(10, 42, 44, 'Defender wins!', '2023-10-11 10:45:00');


ALTER TABLE Combats
ADD COLUMN gold_won INT;


UPDATE Combats
SET gold_won = FLOOR(RAND() * 651) + 100;


ALTER TABLE Combats
ADD COLUMN turn INT;


SELECT * FROM npc
WHERE npc_type = 'Quest-givers';


CREATE TABLE Quests (
    QuestID INT PRIMARY KEY,
    DifficultyLevel INT,
    QuestGiver INT,
    QuestName VARCHAR(150),
    XPReward INT,
    GoldReward INT,
    ItemRewardID INT,

    FOREIGN KEY (QuestGiver) REFERENCES NPC(ID),
    FOREIGN KEY (ItemRewardID) REFERENCES Item(ID)
);


INSERT INTO Quests (QuestID, DifficultyLevel, QuestGiver, QuestName, XPReward, GoldReward, ItemRewardID)
VALUES
(1, 3, 249, 'The Lost Artifact', 500, 250, 5),
(2, 2, 258, 'Defeat the Dragon', 700, 500, 8),
(3, 4, 273, 'Rescue the Princess', 600, 300, 51),
(4, 1, 276, 'Gather Magic Herbs', 200, 150, 75),
(5, 5, 287, 'Infiltrate the Dark Fortress', 750, 750, 140),
(6, 3, 298, 'Protect the Village', 450, 400, 174),
(7, 2, 312, 'Retrieve the Stolen Sword', 350, 200, NULL),
(8, 1, 315, 'Escort the Merchant', 150, 100, NULL),
(9, 4, 321, 'Seal the Cursed Tomb', 650, 600, NULL),
(10, 5, 323, 'Vanquish the Evil Sorcerer', 750, 700, NULL);


ALTER TABLE team
ADD COLUMN team_quest INT,
ADD FOREIGN KEY (team_quest) REFERENCES Quests(QuestID);


UPDATE team
SET team_quest = CASE
    WHEN RAND() < 0.07 THEN NULL  -- 7% chance to assign NULL
    ELSE FLOOR(1 + RAND() * 10)  -- 93% chance to assign a random number between 1 and 10
END;


CREATE TABLE Attributes (
    AttributeID INT PRIMARY KEY,
    Strength INT,
    Intelligence INT,
    Agility INT,
    MoveSpeed INT,
    AttackSpeed INT,
    CurrentHP INT,
    MaximumHP INT,
    CurrentMP INT,
    MaximumMP INT,

    FOREIGN KEY (AttributeID) REFERENCES characters(ID)
);

In [ ]:

CREATE TABLE Achievements (
    AchievementID INT PRIMARY KEY,
    AchievementName VARCHAR(100),
    Description TEXT,
    CharacterID INT,

    FOREIGN KEY (CharacterID) REFERENCES Characters(id)
);


INSERT INTO Achievements (AchievementID, AchievementName, Description, CharacterID)
VALUES
(1, 'Dragon Slayer', 'Defeated a fearsome dragon in battle.', 1),
(2, 'Master Wizard', 'Mastered the arcane arts and became a powerful wizard.', 2),
(3, 'Hero of the Realm', 'Saved the kingdom from a great evil.', 3),
(4, 'Legendary Warrior', 'Became a legendary warrior known throughout the land.', 4),
(5, 'Explorer', 'Discovered hidden treasures in distant lands.', 5),
(6, 'Healer Extraordinaire', 'Saved countless lives with your extraordinary healing abilities.', 6),
(7, 'Ocean Voyager', 'Sailed the treacherous seas and lived to tell the tale.', 7),
(8, 'Champion Archer', 'Became a champion archer with unparalleled accuracy.', 8),
(9, 'Elemental Conqueror', 'Defeated the elemental lords and harnessed their powers.', 9),
(10, 'Mystic Scholar', 'Uncovered ancient mysteries and became a mystic scholar.', 10),
(11, 'Undead Exorcist', 'Banished the undead from the realm with holy magic.', 11),
(12, 'Stealthy Rogue', 'Mastered the art of stealth and became a stealthy rogue.', 12),
(13, 'Time Traveler', 'Ventured through time and altered the course of history.', 13),
(14, 'Beast Tamer', 'Tamed and befriended the wildest of beasts.', 16),
(15, 'Guardian of the Forest', 'Protected the ancient forest from harm.', 19),
(16, 'Sorcerer Supreme', 'Achieved mastery over the darkest and most powerful sorcery.', 22),
(17, 'Bardic Virtuoso', 'Became a virtuoso bard, enchanting audiences with your music.', 25);