In [3]:
%load_ext sql
%sql mysql://root:11Mfld11@/mystic_database

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Traceback (most recent call last):
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 3288, in raw_connection
    return self.pool.connect()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 1267, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 170, in _do_get
    self._dec_overflow()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 167, in _do_get
    return self._create_connection()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\create.py", line 637, in connect
    return dialect.connect(*cargs, **cparams)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\default.py", line 615, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\MySQLdb\__init__.py", line 121, in Connect
    return Connection(*args, **kwargs)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\MySQLdb\connections.py", line 193, in __init__
    super().__init__(*args, **kwargs2)
MySQLdb.OperationalError: (1130, "Host 'LAPTOP-5SS9IIST.wireless.unimaas.local' is not allowed to connect to this MySQL server")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 3264, in connect
    return self._connection_cls(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 147, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 2426, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\base.py", line 3288, in raw_connection
    return self.pool.connect()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 1267, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 716, in checkout
    rec = pool._do_get()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 170, in _do_get
    self._dec_overflow()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\impl.py", line 167, in _do_get
    return self._create_connection()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 678, in __init__
    self.__connect()
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\util\langhelpers.py", line 147, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\pool\base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\create.py", line 637, in connect
    return dialect.connect(*cargs, **cparams)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\sqlalchemy\engine\default.py", line 615, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\MySQLdb\__init__.py", line 121, in Connect
    return Connection(*args, **kwargs)
  File "c:\users\elvin\appdata\local\programs\python\python38\lib\site-packages\MySQLdb\connections.py", line 193, in __init__
    super().__init__(*args, **kwargs2)
sqlalchemy.exc.OperationalError: (MySQLdb.OperationalError) (1130, "Host 'LAPTOP-5SS9IIST.wireless.unimaas.local' is not allowed to connect to this MySQL server")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [11]:
%%sql

SHOW DATABASES;

   mysql://root:***@localhost/
 * mysql://root:***@localhost/mystic_database
8 rows affected.

[('information_schema',),
 ('mysql',),
 ('mystic_database',),
 ('mystic_schema',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [14]:
%%sql


# CREATE DATABASE mystic_database;

CREATE TABLE Team (
    id INT PRIMARY KEY,
    team_name VARCHAR(255),
    kingdom VARCHAR(255),
    n_members INT
);

CREATE TABLE GuildName (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    description VARCHAR(255),
    leader VARCHAR(255),
    members INT,
    founded_year INT
);

CREATE TABLE NPC (
    id INT PRIMARY KEY,
    npc_type VARCHAR(255),
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    location DECIMAL(9, 2)
);

CREATE TABLE Enemy (
    id INT PRIMARY KEY,
    enemy_name VARCHAR(255),
    enemy_type VARCHAR(255),
    hitpoints INT,
    warcry VARCHAR(255)
);

CREATE TABLE Vendors (
    id INT PRIMARY KEY,
    npc_type VARCHAR(255),
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    location DECIMAL(9, 2)
);


CREATE TABLE Event (
    id INT PRIMARY KEY,
    event_name VARCHAR(255),
    event_time INT
);

CREATE TABLE Item (
    id INT PRIMARY KEY,
    item_name VARCHAR(255),
    item_type VARCHAR(255)
);

CREATE TABLE Questions (
    id INT PRIMARY KEY,
    content TEXT,
    choice_options INT,
    emotion INT
);

   mysql://root:***@localhost/
 * mysql://root:***@localhost/mystic_database
(MySQLdb.OperationalError) (1050, "Table 'team' already exists")
[SQL: # CREATE DATABASE mystic_database;

CREATE TABLE Team (
    id INT PRIMARY KEY,
    team_name VARCHAR(255),
    kingdom VARCHAR(255),
    n_members INT
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
CREATE TABLE Characters (
    CharacterID INT PRIMARY KEY,
    PlayerID INT,
    Name VARCHAR(50),
    RaceID INT,
    ClassID INT,
    AttributeID INT,
    Level INT,
    CosmeticID INT,
    TeamRole VARCHAR(50),
    TeamID INT,
    KingdomID INT,
    Experience INT,
    Gold INT,

    FOREIGN KEY (PlayerID) REFERENCES Player(PlayerID),
    FOREIGN KEY (RaceID) REFERENCES Race(RaceID),
    FOREIGN KEY (CLassID) REFERENCES Classes(ClassID),
    #FOREIGN KEY (RaceID) REFERENCES Races(RaceID),
    FOREIGN KEY (AttributeID) REFERENCES Attributes(AttributeID),
    FOREIGN KEY (CosmeticID) REFERENCES Cosmetics(CosmeticID),
    FOREIGN KEY (TeamID) REFERENCES Teams(TeamID),
    FOREIGN KEY (KingdomID) REFERENCES Kingdoms(KingdomID)    
);


CREATE TABLE Players (
    PlayerID INT PRIMARY KEY,
    Username VARCHAR(20),
    Email VARCHAR(50),
    Password VARCHAR(40),
    Nationality VARCHAR(25),
    Server VARCHAR(3),
    DateOfBirth DATE,
    CreditCardNumber VARCHAR(16),
    LastLogin DATETIME
);



CREATE TABLE Teams (
    TeamID INT PRIMARY KEY,
    TeamName VARCHAR(50),
    TeamDescription TEXT,
    Rank INT,
    TeamLevel INT,
    TeamXP INT,
    TeamGold INT,
    TeamQuests INT,
    Members INT
);

CREATE TABLE Attributes (
    AttributeID INT PRIMARY KEY,
    Strength INT,
    Intelligence INT,
    Agility INT,
    MoveSpeed INT,
    AttackSpeed INT,
    CurrentHP INT,
    MaximumHP INT,
    CurrentMP INT,
    MaximumMP INT
);

CREATE TABLE Guilds (
    GuildID INT PRIMARY KEY,
    GuildName VARCHAR(50),
    GuildDescription TEXT,
    GuildType VARCHAR(20),
    GuildLeader INT,
    GuildMember INT,
    
    FOREIGN KEY (GuildLeader) REFERENCES Characters(CharacterID),
    FOREIGN KEY (GuildMember) REFERENCES Race(CharacterID)
);


CREATE TABLE Kingdoms (
    KingdomID INT PRIMARY KEY,
    KingdomName VARCHAR(20),
    KingdomDescription TEXT,
    KingdomRuler INT,
    
    FOREIGN KEY (GuildLeader) REFERENCES Characters(CharacterID),
    FOREIGN KEY (GuildMember) REFERENCES Race(CharacterID)
);


CREATE TABLE Enemies (
    EnemyID INT PRIMARY KEY,
    EnemyName VARCHAR(50),
    EnemyType VARCHAR(30),
    KingdomID INT,
    Hitpoints INT,
    Warcry VARCHAR(20),
    
    FOREIGN KEY (KingdomID) REFERENCES Kingdoms(KingdomID),
);

CREATE TABLE NPCS (
    NPCID INT PRIMARY KEY,
    NPCName VARCHAR(50),
    NPCType VARCHAR(30),
    KingdomID INT,
    NPCStats VARCHAR(50),
    NPCDescription TEXT,
    
    FOREIGN KEY (KingdomID) REFERENCES Kingdoms(KingdomID),
);


CREATE TABLE Items (
    ItemID INT PRIMARY KEY,
    ItemName VARCHAR(50),
    LevelRequirement INT,
    ItemType VARCHAR(50),
    ItemDescription TEXT
);


CREATE TABLE Craftings (
    CraftingID INT PRIMARY KEY,
    ItemID INT,
    LevelRequirement INT,
    ItemType VARCHAR(50),
    CraftingDescription TEXT,
    #RequiredItems 
    CraftingCost INT,
    
    FOREIGN KEY (ItemID) REFERENCES Items(ID),
);

CREATE TABLE Quests (
    QuestID INT PRIMARY KEY,
    DifficultyLevel INT,
    QuestGiver VARCHAR(50),
    QuestName VARCHAR(50),
    QuestDescription TEXT,
    XPReward INT,
    GoldReward INT,
    ItemRewardID INT,
    
    FOREIGN KEY (QuestGiver) REFERENCES NPCS(NPCID),
    FOREIGN KEY (ItemRewardID) REFERENCES Items(ItemID),
);


CREATE TABLE SkillTrees (
    SkillTreeID INT PRIMARY KEY,
    ClassID INT,
    CharacterID INT,
    SkillID INT,
    PickedSkills, TEXT,
    
    FOREIGN KEY (CharacterID) REFERENCES Characters(CharacterID),
    FOREIGN KEY (SkillID) REFERENCES Skills(SkillID),
    FOREIGN KEY (ClassID) REFERENCES Classes(ClassID)
);


CREATE TABLE Skills (
    SkillID INT PRIMARY KEY,
    SkillName VARCHAR(50),
    SkillDescription TEXT,
    Requirements TEXT
);


CREATE TABLE Classes (
    ClassID INT PRIMARY KEY,
    ClassName VARCHAR(50),
    ClassDescription TEXT
);


CREATE TABLE Weapons (
    WeaponID INT PRIMARY KEY,
    WeaponName VARCHAR(50),
    WeaponDescription TEXT,
    Rarity VARCHAR(20),
    Price INT,
    ClassID INT,
    Level Requirements INT,
    
    FOREIGN KEY (ClassID) REFERENCES Classes(ClassID)
);

In [15]:
%%sql

SHOW TABLES;

   mysql://root:***@localhost/
 * mysql://root:***@localhost/mystic_database
5 rows affected.

[('enemy',), ('guildname',), ('npc',), ('team',), ('vendors',)]